{{ define "content" }}
<div class="error-page">
    <h2 class="headline text-danger">{{ .error.code }}</h2>

    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-danger"></i> {{ .error.message }}</h3>

      <p>
        The above error occurred while the Web server was processing your request.
      </p>
      <p>
        Please contact us if you think this is a server error. Thank you.
      </p>

    </div>
</div>
{{ end }}