{{block footer()}}
<footer class="footer">
    <div class="container text-center">
      <div class="text-mutex">
        {{ "title" | param }} <i class="fas fa-copyright"></i> {{ "since" | param }}-{{ now().Year }} 
      </div>
      <div class="text-mutex">
        Powered by <a href="https://github.com/clevergo" target="_blank">CleverGo</a> | 
        Created by <a href="https://github.com/razonyang" target="_blank">Razon Yang</a>
      </div>
    </div>
  </footer>
{{ end }}