{{ import "layouts/partials/head.tmpl" }}
{{ import "layouts/partials/alert.tmpl" }}
{{ import "layouts/partials/adminlte.js.tmpl" }}

{{ block title() }}
Login
{{ end }}

<!DOCTYPE html>
<html>
<head>
  {{ yield head() }}
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            {{ param("title") }}
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>

            {{ yield alert() }}

            <form id="loginForm" action="{{ route("/backend/reset-password") }}" method="post">
                {{ csrf() | raw }}
                <div class="input-group mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <input type="hidden" name="captcha_ticket" id="captchaTicket">
                    <input type="hidden" name="captcha_randstr" id="captchaRandstr">
                    <button type="button" class="btn btn-primary btn-block" id="btnResetPassword">
                        Request new password
                    </button>
                </div>
            </form>

            <p class="mb-1">
                <a href="{{ route("/backend/login") }}">Login</a>
            </p>
            <p class="mb-0">
                Don't have an account? <a href="{{ route("/backend/signup") }}" class="text-center">Create one now</a>
            </p>
            </div>
        </div>
    </div>

    {{ yield adminlteJs() }}

    <script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
    <script>
        $(document).ready(function() {
            var loginForm = $("#loginForm")
            var captchaTicket = $('#captchaTicket')
            var captchaRandstr = $('#captchaRandstr')
            var captcha = new TencentCaptcha(document.getElementById("btnResetPassword"), "{{ .captchaAppID }}", function(res) {
                captchaTicket.val(res.ticket)
                captchaRandstr.val(res.randstr)
                loginForm.submit()
            }, {})
        })
    </script>
</body>
</html>
