{{extends "layouts/main.tmpl"}}
{{import "layouts/partials/form.tmpl"}}

{{block title()}}
{{T("text.contact")}}
{{end}}

{{block body()}}
<h2 class="text-center">{{T("text.contact")}}</h1>
<br>
{{yield beginForm(id="contactForm", action=route("contact"), class="offset-md-3 col-md-6")}}

  {{yield csrfField()}}

  <div class="form-group row">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-transparent"><i class="fas fa-envelope" style="width: 14px;"></i></div>
      </div>
      {{yield emailInputField(name="email", placeholder=T("text.email"), required=true)}}
    </div>
  </div>

  <div class="form-group row">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-transparent"><i class="fas fa-heading" style="width: 14px;"></i></div>
      </div>
      {{yield inputField(name="subject", placeholder=T("text.subject"), required=true)}}
    </div>
  </div>

  <div class="form-group row">
    {{yield textareaField(name="content", placeholder=T("text.content"))}}
  </div>

  <div class="form-group row">
    {{yield captchaField()}}
  </div>

  <div class="form-group row">
    {{yield submitButton()}}
  </div>

{{yield endForm()}}

{{end}}

{{block endBody()}}
<script src="/static/js/captcha.js"></script>
<script src="/static/js/site/contact.js"></script>
{{end}}
