{{ extends "layouts/main.tmpl" }}

{{ block title() }}
{{ T("text.about") }}
{{ end }}

{{ block body() }}
<h1>{{ T("text.about") }}</h1>
<hr>
<p>
  {{ param("title") }}  is an application project template.
</p>
{{ end }}