{{ extends "layouts/main.tmpl" }}

{{ block title() }}
{{ T("text.contact") }}
{{ end }}

{{ block body() }}
<h2 class="text-center">{{ T("text.contact") }}</h1>
<br>
<form id="contactForm" action="{{ route("contact") }}" method="POST" class="offset-md-3 col-md-6">
  {{ csrf() | raw }}

  <div class="form-group row">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-transparent"><i class="fas fa-envelope" style="width: 14px;"></i></div>
      </div>
      <input type="email" class="form-control" id="email" name="email"
        placeholder="{{ T("text.email") }}"
        required>
    </div>
  </div>

  <div class="form-group row">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-transparent"><i class="fas fa-heading" style="width: 14px;"></i></div>
      </div>
      <input type="text" class="form-control" id="subject" name="subject"
        placeholder="{{ T("text.subject") }}"
        required>
    </div>
  </div>

  <div class="form-group row">
    <textarea class="form-control" id="content" name="content" placeholder="{{ T("text.content") }}" rows="5"></textarea>
  </div>

  <div class="form-group row">
    <input type="text" class="form-control col-md-6" name="captcha"
      placeholder="{{ T("text.captcha") }}"
      required>
    <div id="captchaContainer" class="col-md-6 captcha">
      <input type="hidden" id="captchaID" name="captcha_id">
      <img id="captchaMedia">
    </div>
  </div>

  <div class="form-group row">
    <button type="submit" class="btn btn-primary btn-block">{{ T("text.submit") }}</button>
  </div>
</form>
{{ end }}

{{ block endBody() }}
<script src="/static/js/captcha.js"></script>
<script src="/static/js/site/contact.js"></script>
{{ end }}
