{{ extends "layouts/main.tmpl" }}

{{ block title() }}
{{ T("text.contact" }}
{{ end }}

{{ block body() }}
<div class="site-error">

    <h1>Whoops!</h1>

    <div class="alert alert-danger">
      {{ . }}
    </div>

    <p>
        The above error occurred while the Web server was processing your request.
    </p>
    <p>
        Please contact us if you think this is a server error. Thank you.
    </p>

</div>
{{ end }}

{{ block endBody() }}{{ end }}
