{{extends "layouts/main.tmpl"}}
{{import "layouts/partials/form.tmpl"}}

{{block title()}}
{{T("text.resetPassword")}}
{{end}}

{{block body()}}
<h2 class="text-center">
  {{T("text.resetPassword")}}
</h2>

<p class="text-center">
  Reset Password
</p>

{{yield beginForm(id="requestResetPasswordForm", action=route("request-reset-password"), class="offset-md-4 col-md-4")}}

{{yield csrfField()}}

  <div class="form-group row">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-transparent"><i class="fas fa-envelope" style="width: 14px;"></i></div>
      </div>
      {{yield emailInputField(name="email", placeholder=T("text.email"), required=true)}}
    </div>
  </div>

  <div class="form-group row">
    {{yield captchaField()}}
  </div>

  <div class="form-group row">
    {{yield submitButton()}}
  </div>

{{yield endForm()}}
{{end}}

{{block endBody()}}
<script src="/static/js/captcha.js"></script>
<script src="/static/js/user/request-reset-password.js"></script>
{{end}}
