{{extends "layouts/main.tmpl"}}
{{import "layouts/partials/form.tmpl"}}

{{block title()}}
{{T("text.resetPassword")}}
{{end}}

{{block body()}}
<h2 class="text-center">
  {{T("text.resetPassword")}}
</h2>

<p class="text-center">
  Reset Password
</p>

{{yield beginForm(id="resetPasswordForm", action=route("reset-password"), class="offset-md-4 col-md-4")}}

{{yield csrfField()}}

  <input type="hidden" name="token" value="{{.token}}">

  <div class="form-group row">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-transparent"><i class="fas fa-lock"></i></div>
      </div>
      {{yield passwordInputField(name="password", placeholder=T("text.newPassword"))}}
    </div>
  </div>

  <div class="form-group row">
    {{yield captchaField()}}
  </div>

  <div class="form-group row">
    {{yield submitButton()}}
  </div>

{{yield endForm()}}
{{end}}

{{block endBody()}}
<script src="/static/js/user/reset-password.js"></script>
{{end}}
