{{extends "layouts/main.tmpl"}}
{{import "layouts/partials/form.tmpl"}}

{{block title()}}
{{T("text.signup")}}
{{end}}

{{block endBody()}}
<script src="/static/js/captcha.js"></script>
<script src="/static/js/user/signup.js"></script>
{{end}}

{{block body()}}
<h2 class="text-center">
  {{T("text.signup")}}
</h2>
<p class="text-center">Create a new account</p>
<div class="offset-md-4 col-md-4">

  {{yield beginForm(id="signupForm", action=route("signup"))}}

  {{yield csrfField()}}

  <div class="form-group row">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-transparent"><i class="fas fa-user"></i></div>
      </div>
      {{yield inputField(name="username", placeholder=T("text.username"))}}
    </div>
    <small class="form-text text-muted">
      The username may only contain letters, numbers, _ and -.
    </small>
  </div>
  <div class="form-group row">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-transparent"><i class="fas fa-envelope" style="width: 14px;"></i></div>
      </div>
      {{yield emailInputField(name="email", placeholder=T("text.email"), required=true)}}
    </div>
  </div>
  <div class="form-group row">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-transparent"><i class="fas fa-lock"></i></div>
      </div>
      {{yield passwordInputField(name="password", placeholder=T("text.password"))}}
    </div>
  </div>

  <div class="form-group row">
    {{yield captchaField()}}
  </div>

  <div class="form-group row">
    {{yield submitButton()}}
  </div>

{{yield endForm()}}

<div>
  <p>
    <a href="{{route("request-reset-password")}}">Forgot password</a>?
  </p>
  <p>
    <a href="{{route("resend-verification-email")}}">Resend verification email</a>.
  </p>
  <p>
    Already have an account? <a href="{{route("login")}}">Login now</a>.
  </p>
</div>

</div>
{{end}}
