{{ extends "layouts/main.tmpl" }}

{{ block title() }}
{{ T("text.login") }}
{{ end }}

{{ block body() }}
<h2 class="text-center">
  {{ T("text.login") }}
</h2>

<p class="text-center">
  Start a new session.
</p>

<div class="offset-md-4 col-md-4">

<form id="loginForm" action="{{ route("login") }}" method="POST">
  {{ csrf() | raw }}

  <div class="form-group row">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-transparent"><i class="fas fa-envelope" style="width: 14px;"></i></div>
      </div>
      <input type="email" class="form-control" id="email" name="email"
        placeholder="{{ T("text.email") }}"
        required>
    </div>
  </div>

  <div class="form-group row">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-transparent"><i class="fas fa-lock"></i></div>
      </div>
      <input type="password" class="form-control" id="password" name="password"
        placeholder="{{ T("text.password") }}"
        required>
    </div>
  </div>

  <div class="form-group row">
    <input type="text" class="form-control col-md-6" name="captcha"
      placeholder="{{ T("text.captcha") }}"
      required>
    <div id="captchaContainer" class="col-md-6 captcha">
      <input type="hidden" id="captchaID" name="captcha_id">
      <img id="captchaMedia">
    </div>
  </div>

  <div class="form-group row">
    <button type="submit" id="btnLogin" class="btn btn-block btn-primary">{{ "Login" }}</button>
  </div>

</form>

<div>
  <p>
    <a href="{{ route("request-reset-password") }}">Forgot password</a>?
  </p>
  <p>
    <a href="{{ route("resend-verification-email") }}">Resend verification email</a>.
  </p>
  <p>
    Don't have an account? <a href="{{ route("signup") }}">Create one now</a>.
  </p>
</div>

</div>
{{ end }}

{{ block endBody() }}
<script src="/static/js/captcha.js"></script>
<script src="/static/js/user/login.js"></script>
{{ end }}
