{{ extends "layouts/main.tmpl" }}

{{ block title() }}
{{ T("text.login") }}
{{ end }}

{{ block body() }}
<h1 class="text-center">
  {{ T("text.login") }}
</h1>
<hr>
<form class="offset-md-2 col-md-8" action="{{ route("login") }}" method="POST">
  {{ csrf() | raw }}
  <div class="form-group row">
    <input type="email" class="form-control" id="email" placeholder="{{ T("text.email") }}" name="email" value="{{ .form.Email }}">
  </div>
  <div class="form-group row">
    <input type="password" class="form-control" id="password" placeholder="{{ T("text.password") }}" name="password" value="{{ .form.Password }}">
  </div>
  <div class="form-group row">
      <input type="text" class="form-control col-2" placeholder="{{ T("text.captcha") }}" name="captcha">
      <div class="col-10">
        {{ .captcha.HTMLField("captcha_id") | raw }}
      </div>
  </div>
  <div class="form-group row">
    <button type="submit" class="btn btn-block btn-primary">{{ "Login" }}</button>
  </div>
  <div>
    <p>
      <a href="{{ route("reset-password") }}">Forgot password?</a>
    </p>
    <p>
      Don't have an account? <a href="{{ route("sign-up") }}">Create one now</a>.
    </p>
  </div>
</form>
{{ end }}
