{{ extends "layouts/main.tmpl" }}

{{ block title() }}
{{ T("text.resendVerificationEmail") }}
{{ end }}

{{ block body() }}
<h1 class="text-center">
  {{ T("text.resendVerificationEmail") }}
</h1>
<hr>
<form action="{{ route("resend-verification-email") }}" method="POST">
  {{ csrf() | raw }}
  <div class="form-group row">
    <input type="email" class="form-control" id="email" placeholder="{{ T("text.email") }}" name="email" value="{{ .form.Email }}">
  </div>
  <div class="form-group row">
      <input type="text" class="form-control col-2" placeholder="{{ T("text.captcha") }}" name="captcha">
      <div class="col-10">
        {{ .captcha.HTMLField("captcha_id") | raw }}
      </div>
  </div>
  <div class="form-group row">
    <button type="submit" class="btn btn-primary">{{ "Send" }}</button>
  </div>
</form>
{{ end }}
