{{ extends "layouts/main.tmpl" }}

{{ block title() }}
{{ T("text.setting") }}
{{ end }}

{{ block body() }}
<h1 class="text-center">
  {{ T("text.setting") }}
</h1>
<hr>
<p>
    <a href="{{ route("change-password") }}">Change Password</a>
</p>
{{ end }}
