{{ extends "layouts/main.tmpl" }}

{{ block title() }}
{{ T("text.emailVerification") }}
{{ end }}

{{ block body() }}
<h1 class="text-center">
  {{ T("text.emailVerification") }}
</h1>
<hr>
{{ end }}
